<ng-container *ngIf="dataSource ; else failureOrLading">

<div class="container">
  <div class="recherche-button">
    <mat-form-field class="filter" appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nom" #input>
    </mat-form-field>
    <div class="defaut-attibuts">
      Attribut par defaut des lignes:  numeroLigne, affectation, poste, etat, dateLivraison, numeroSerie, montant.
    </div>
    <button mat-raised-button matTooltip="Ajouter un attribut"
            *ngIf="!selectUpdate"
            [matTooltipShowDelay]="1000"
            (click)="handleAdd()" [style.background-color]="selectAdd ? '#4050b5' : ''"
            [style.color]="selectAdd ? 'white' : ''">AJOUTER</button>
  </div>

  <ng-container *ngIf="!selectAdd && !selectUpdate">
    <div class="container-fluid">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="idAttribut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
            <td mat-cell *matCellDef="let attribut; let i = index"> {{ i + 1 }} </td>
          </ng-container>
           Name Column
          <ng-container matColumnDef="nomAttribut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
            <td mat-cell *matCellDef="let attribut"> {{ attribut.nomAttribut }} </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
            <td mat-cell *matCellDef="let attribut"> {{ attribut.type }} </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="valeurAttribut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valeur</th>
            <td mat-cell *matCellDef="let attribut"> {{ attribut.valeurAttribut }} </td>
          </ng-container>

          <!-- Enumeration Column -->
          <ng-container matColumnDef="enumeration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Énumération[] </th>
            <td mat-cell *matCellDef="let attribut" class="enumeration-cell">
              <div class="enumeration-content">
                <span *ngIf="attribut.enumeration">
                  <span *ngFor="let enumValue of attribut.enumeration; let last = last">
                    {{ enumValue + (last ? '' : ',  ') }}
                  </span>
                </span>
                <span *ngIf="!attribut.enumeration">N/A</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ACTIONS">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" class="action-container">
                <button mat-icon-button (click)="handleEdit(row)" matTooltip="Modifier" [matTooltipShowDelay]="1000"> <mat-icon color="primary">edit</mat-icon> </button>
                <button mat-icon-button (click)="handleDelete(row.idAttribut)" class="ms-3" matTooltip="Supprimer" [matTooltipShowDelay]="1000"> <mat-icon color="warn">delete</mat-icon> </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let attribut; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7" *ngIf="!input?.value">Aucune donnée disponible</td>
            <td class="mat-cell" colspan="17" *ngIf="input?.value">Aucune donnée pour le filtre "{{ input.value }}"</td>
          </tr>

        </table>
      </div>
      <div class="customer-container">
        <div class="nombrePage">
          <label for="pageSize">Éléments par page :</label>
          <select id="pageSize" (change)="changePageSize($event)" [(ngModel)]="pageSize">
            <option *ngFor="let sizeOption of pageSizeOptions" [value]="sizeOption">{{sizeOption}}</option>
          </select>
        </div>
        <div class="Loading" *ngIf="isLoading">
          <mat-spinner>Chargement...</mat-spinner>
        </div>
        <div class="custom-paginator">
          <button mat-icon-button (click)="firstPage()" matTooltip="Première page" [matTooltipShowDelay]="1000"
                  [disabled]="currentPage == 0">
            <mat-icon>first_page</mat-icon>
          </button>
          <button mat-icon-button (click)="previousPage()" matTooltip="precedent" [matTooltipShowDelay]="1000"
                  [disabled]="currentPage == 0">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <span>{{currentPage+1}}</span>
          <button mat-icon-button (click)="nextPage()" matTooltip="suivant" [matTooltipShowDelay]="1000"
                  [disabled]="currentPage == totalPages- 1">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button mat-icon-button (click)="lastPage()" matTooltip="Dernière page" [matTooltipShowDelay]="1000"
                  [disabled]="currentPage == totalPages- 1">
            <mat-icon>last_page</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="selectAdd">
    <h3 class="titre">Ajouter un attribut</h3>
    <form [formGroup]="attributForm" (ngSubmit)="onAttributSubmit()">
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nomAttribut" required>
        <mat-error *ngIf="attributForm.get('nomAttribut')!.hasError('required')">Le nom de l'attribut est obligatoire
        </mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of typeVariables" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Valeur-Defaut</mat-label>
        <input matInput type="text" placeholder="23..." formControlName="valeurAttribut">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Énumération</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter enumeration">
          <mat-chip-row *ngFor="let enumValue of (attributForm.get('enumeration')?.value ?? [])"
                        (removed)="removeEnum(enumValue)">
            {{ enumValue }}
            <button matChipRemove [attr.aria-label]="'remove ' + enumValue">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="Valeur:  "
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addEnum($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="warn" type="reset" (click)="handleAdd()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="attributForm.invalid">Enregistrer</button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="selectUpdate">
    <h3 class="titre">Mettre à jour l'attribut</h3>
    <form [formGroup]="attributForm" (ngSubmit)="onAttributUpdate()">
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nomAttribut" required>
        <mat-error *ngIf="attributForm.get('nomAttribut')!.hasError('required')">Le nom de l'attribut est obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of typeVariables" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small-width" appearance="outline">
        <mat-label>Valeur-Defaut</mat-label>
        <input matInput type="text" placeholder="23..." formControlName="valeurAttribut">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Énumération</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter enumeration">
          <mat-chip-row *ngFor="let enumValue of enumerations"
                        (removed)="removeEnum(enumValue)">
            {{ enumValue }}
            <button matChipRemove [attr.aria-label]="'remove ' + enumValue">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="Valeur:  "
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addEnum($event)"
          />
        </mat-chip-grid>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="warn" type="reset" (click)="handleResetUpdate()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="attributForm.invalid">Mettre à jour</button>
      </div>
    </form>
  </ng-container>
</div>

</ng-container>

<ng-template #failureOrLading>
  <div class="failureOrLading-container">
    <ng-container *ngIf="errorMessage; else loading">
      <div class="failure">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="Loading">
        <mat-spinner>Chargement...</mat-spinner>
      </div>
    </ng-template>
  </div>
</ng-template>
