
.container-fluid {
  width: 100%;
}

.titre {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: right;
  border-bottom: 3px solid #1b6ca8;
  padding-bottom: 10px;
  margin: 0 auto;
  width: max-content;
}

.example-tab-icon {
  margin-right: 10px;
}

.mat-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.small-width {
  width: calc(33.33% - 10px); /* Adjust as needed */
  min-width: 300px;
  margin: 0 5px;
}


.full-width {
  width: 90%;
  min-width: 300px;
  margin: 20px auto;
}

.mat-chip-row {
  display: flex;
  align-items: center;
  background-color: #e0e0e0; /* Adjust as needed */
  border-radius: 16px; /* Adjust as needed */
  margin: 4px;
  padding: 8px;
}

.mat-chip-row button {
  margin-left: 8px;
}

.button-container{
  justify-content: space-between;
  display: flex;
  button{
    display: block;
    width: 25%;
    min-width: auto;
    margin: 10px 20px;
  }
}


/*<ng-container *ngIf="selectAdd">*/
.container-fluid{
  width: 100%;
}
form{
  margin-top: 20px;
}

.mat-elevation-z8 {
  min-width: 100%;
  overflow-x: auto;

  table {
    text-align: center;
    align-content: center;
    margin-top: 10px;

    .mat-cell {
      white-space: nowrap;
      table-layout: initial;
    }

    th {
      font-size: 1rem;
      font-weight: bold;
    }

    td {
      //font-weight: bold;
    }

    .mat-mdc-header-row {
      //border: 2px solid #1b6ca8;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: #f3f3f3;
      font-weight: bold;
      transition: transform 0.3s ease;
      transform: scale(1);
    }

  }

  tr.mat-header-row {
    // Styles pour les lignes d'en-tête
  }

  tr.mat-row {
    // Styles pour les lignes de données
  }

  tr.mat-no-data-row {
    // Styles pour les lignes sans données
  }
}

/* enums */
.enumeration-cell {
  white-space: normal;
  word-break: break-word;
}
.enumeration-content {
  max-height: 100px;
  overflow-y: auto;
  span {
    margin-right: 10px;
  }
}
/* Buttons */
.action-container {
  white-space: nowrap;
  button {
    margin-right: 4px;
    border-radius: 5px;
  }
}

//pagination
.customer-container {
  display: flex;
  justify-content: space-between;

  .customer-total {
    border-radius: 1rem;
    float: left;
    margin-top: 2.5rem;
    display: inline-block;
    font-size: 1.5rem;
    color: #263238;
  }

  .custom-paginator {
    border-radius: 1rem;
    float: right;
    margin-top: 1rem;
    display: inline-block;
    border: 2px solid #263238;
    font-size: 1rem;
  }
}

//Button et recherche
.recherche-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter {
    width: 350px;
    font-size: 1rem;
    font-weight: bold;
  }
}

//Erreur et chargement
.failureOrLading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Hauteur totale de la vue
}
.failure {
  color: red;
  font-size: 24px;
  text-align: center;
}
.Lading {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-spinner {
    width: 50px;
    height: 50px;
  }
}







