.container-fluid {
  width: 100%;
}
.defaut-attibuts{
  color: #d1490a;
  font-weight: bold;
  font-size: 1rem;
}

.titre {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: right;
  border-bottom: 3px solid #d1490a;
  padding-bottom: 10px;
  margin: 0 auto;
  width: max-content;
}

.example-tab-icon {
  margin-right: 10px;
}

.mat-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-chip-row {
  display: flex;
  align-items: center;
  background-color: #e0e0e0; /* Adjust as needed */
  border-radius: 16px; /* Adjust as needed */
  margin: 4px;
  padding: 8px;
}

.mat-chip-row button {
  margin-left: 8px;
}

.button-container{
  justify-content: space-between;
  display: flex;
  width: 100%;
  button{
    display: block;
    width: 25%;
    min-width: auto;
    margin: 10px 20px;
  }
}

//add
form {
  display: flex;
  flex-wrap: wrap;
  .first {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    .first-second {
      margin-top: 12px;
      flex: auto;
      .full-width-textarea {
        flex-direction: column;
        height: 100%;
      }
    }
  }
  .second {
    width: 50%;
    flex: 1;
    //margin: 10px;
    padding: 10px;
    border: 1px solid black;
    h3{
      margin: 4px auto;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 2px solid #d1490a;
    }
    .attribut-liste{
      margin: 14px;
      max-height: 400px;
      overflow-y: auto;
      mat-selection-list{
        margin: auto 25px;
        font-weight: bold;
        mat-list-option{
          margin: 5px;
        }
      }
    }

  }
}


/*<ng-container *ngIf="selectAdd">*/
.container-fluid{
  width: 100%;
}
form{
  margin-top: 20px;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
  min-height: 57vh;

  table {
    text-align: center;
    align-content: center;
    margin-top: 10px;

    .mat-cell {
      white-space: nowrap;
      table-layout: initial;
    }
    th {
      font-size: 1rem;
      font-weight: bold;
    }
    td{
      //display: flex;
    }
    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: #f3f3f3;
      font-weight: bold;
      transition: transform 0.3s ease;
      transform: scale(1);
    }

  }

}

/* enums */
.enumeration-cell {
  white-space: normal;
  word-break: break-word;
  min-width: 200px;
}
.enumeration-content {
  max-height: 100px;
  overflow-y: auto;
  span {
    margin-right: 10px;
  }
}
/* Buttons */
.action-container {
  white-space: nowrap;
  button {
    margin-right: 4px;
    border-radius: 5px;
  }
}

//pagination
.customer-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nombrePage {
    float: left;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
    background-color: #ffffff;

    label {
      margin-right: 0.5rem;
      font-size: 1rem;
      border-bottom: 1px solid #d1490a;
    }

    select {
      height: auto;
      border: 1px solid #d1490a;
      //border-radius: 1rem;
      font-size: 1.2rem;
      color: #d1490a;
      padding: 0.5rem 0.5rem;
    }
  }

  .custom-paginator {
    border-radius: 1rem;
    float: right;
    margin-top: 1rem;
    display: inline-block;
    border: 1px solid #d1490a;
    font-size: 1rem;
    background-color: #ffffff;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 1rem;
      color: #d1490a;
    }

    span {
      font-size: 1.6rem;
      color: #d1490a;
      margin: 1rem;
    }
  }
}

//Button et recherche
.recherche-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter {
    width: 350px;
    font-size: 1rem;
    font-weight: bold;
  }
}


//Erreur et chargement
.failureOrLading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Hauteur totale de la vue
}
.failure {
  color: red;
  font-size: 24px;
  text-align: center;
}
.Lading {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-spinner {
    width: 50px;
    height: 50px;
  }
}





