<div class="container">
  <div class="recherche-button">

    <mat-form-field class="filter" appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nom" #input>
    </mat-form-field>
    <button mat-raised-button matTooltip="Ajouter un type"
            *ngIf="!selectUpdate"
            [matTooltipShowDelay]="1000"
            (click)="handleAdd()" [style.background-color]="selectAdd ? '#4050b5' : ''"
            [style.color]="selectAdd ? 'white' : ''">AJOUTER
    </button>
  </div>

  <ng-container *ngIf="!selectAdd && !selectUpdate">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="idType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
          <td mat-cell *matCellDef="let type; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="nomType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom_Type</th>
          <td mat-cell *matCellDef="let type"> {{ type.nomType }} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date_Creation</th>
          <td mat-cell *matCellDef="let type"> {{ type.createdDate | date }} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="descriptionType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
          <td mat-cell *matCellDef="let type" class="enumeration-cell">
            {{ type.descriptionType }}
          </td>
        </ng-container>

        <!-- Enumeration Column -->
        <ng-container matColumnDef="attributs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attributs[]</th>
          <td mat-cell *matCellDef="let type" class="enumeration-cell">
            <div class="enumeration-content">
                <span *ngIf="type.attributs">
                  <span *ngFor="let attributNom of type.attributs; let last = last">
                    {{ attributNom.nomAttribut + (last ? '' : ',  ') }}
                  </span>
                </span>
              <span *ngIf="!type.attributs">N/A</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="ACTIONS">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="action-container">
            <button mat-icon-button (click)="handleEdit(row)" matTooltip="Modifier" [matTooltipShowDelay]="1000">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="handleDelete(row.idType)" class="ms-3" matTooltip="Supprimer"
                    [matTooltipShowDelay]="1000">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let attribut; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7" *ngIf="!input?.value">Aucune donnée disponible</td>
          <td class="mat-cell" colspan="17" *ngIf="input?.value">Aucune donnée pour le filtre "{{ input.value }}"</td>
        </tr>

      </table>
    </div>
    <div class="customer-container">
      <div class="customer-total" *ngIf="dataSource?.data">Total:   {{dataSource.data.length}}</div>
      <mat-paginator class="custom-paginator" [pageSizeOptions]="[11, 23, 33, 50]" aria-label="Sélectionner une page"></mat-paginator>
    </div>
  </ng-container>

  <ng-container *ngIf="selectAdd">
    <h3 class="titre">Ajouter un Type de Ligne</h3>
    <form [formGroup]="typeLigneForm" (ngSubmit)="onTypeLigneSubmit()">
      <div class="first">
        <mat-form-field class="first-first" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nomType" required>
          <mat-error *ngIf="typeLigneForm.get('nomType')!.hasError('required')">Le nom de type est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field class="first-second" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="descriptionType" class="full-width-textarea"></textarea>
          <mat-error *ngIf="typeLigneForm.get('descriptionType')!.hasError('maxlength')">Description max 200</mat-error>
        </mat-form-field>
      </div>
      <div class="second">
        <h3>Attributs:</h3>
        <div class="attribut-liste">
          <mat-selection-list formControlName="attributs" multiple>
            <mat-list-option *ngFor="let attribut of attributs" [value]="attribut" class="mat-list-option"
                             color="primary">
              {{ attribut.nomAttribut }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="warn" type="reset" (click)="handleAdd()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="typeLigneForm.invalid">Enregistrer</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="selectUpdate">
    <h3 class="titre">Mettre à jour le type de ligne</h3>
    <form [formGroup]="typeLigneForm" (ngSubmit)="onTypeLigneSubmit()">
      <div class="first">
        <mat-form-field class="first-first" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nomType" required>
          <mat-error *ngIf="typeLigneForm.get('nomType')!.hasError('required')">Le nom de type est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field class="first-second" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="descriptionType" class="full-width-textarea"></textarea>
          <mat-error *ngIf="typeLigneForm.get('descriptionType')!.hasError('maxlength')">Description max 200</mat-error>
        </mat-form-field>
      </div>
      <div class="second">
        <h3>Attributs:</h3>
        <div class="attribut-liste">
          <!--<mat-selection-list formControlName="attributs" multiple>
            <mat-list-option *ngFor="let attribut of attributs" [value]="attribut" class="mat-list-option"
                             color="primary">
              {{ attribut.nomAttribut }}
            </mat-list-option>
          </mat-selection-list>-->
          <mat-selection-list formControlName="attributs" multiple>
            <mat-list-option *ngFor="let attribut of attributs" [value]="attribut.idAttribut" class="mat-list-option"
                             color="primary">
              {{ attribut.nomAttribut }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="warn" type="reset" (click)="handleAdd()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="typeLigneForm.invalid">Enregistrer</button>
      </div>
    </form>
  </ng-container>

</div>
