/*
* {
  box-shadow: 0 0 0 3px blue;
}*/


.main-body {
  margin: 0 auto;
  max-width: 100%;
  //
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .titre {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    border-bottom: 6px solid #d1490a;
  }

  .container {
    margin: 1rem auto;
    max-height: 100%; // Hauteur minimale pour occuper tout l'écran

    .example-tab-icon {
      margin-right: 10px;
    }

    .container-infos, .container-import, .container-traitement {
      width: 100%;
      height: 100%;
      margin: 1rem auto;
      padding: 1rem;

      .container-template {
        max-height: 100%; // Hauteur minimale
      }

      .button-select {
        width: 80%;
        border-radius: 1rem;
        margin: 1rem auto;
        flex-direction: row;
        display: flex;
        justify-content: space-between;

        button {
          border: none;
          //background-color: transparent;
          cursor: pointer;
          font-size: 1rem;
          //color: #4050b5;

          &.single-button {
            margin-left: auto;
          }

          mat-icon {
            margin: 0 7px;
          }
        }
      }

      .container-template {
        display: flex; // Utilisation de Flexbox
        flex-wrap: wrap; // Permet aux éléments de passer à la ligne si nécessaire
      }

      .info-section {
        flex: 1;
        min-width: 300px;

        .example-card {
          mat-card-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;

            mat-card-title {
              flex: 1;
              text-align: center;
            }
          }

          img[mat-card-image] {
            object-fit: cover; // Remplit l'élément parent tout en maintenant le ratio de l'image
            width: 100%;
            height: auto;

            @media (max-width: 768px) {
              min-width: 100px;
              max-height: 400px;
            }
          }

          @media (max-width: 768px) {
            min-width: 100%;
            height: auto;
          }
        }

        @media (max-width: 768px) {
          min-width: 100%; // Prend toute la largeur sur les petits écrans
        }
      }

      // Section de résultat à droite
      .result-section {
        flex: 1;
        min-width: 300px;
        margin: 1rem;
        padding: 1rem;

        p {
          font-size: 16px;
          color: #f80000;
          margin: 0;
          padding: 10px;

          @media (max-width: 768px) {
            font-size: 14px; // Réduction de la taille de police pour les petits écrans
          }
        }

        .result-title {
          text-decoration: underline;
          text-align: center;
          margin: 1rem;
          color: #d1490a;
        }

        mat-list {
          margin: 1rem;
          height: auto;

          mat-list-item {
            margin: 1rem auto;
            height: auto;

            div {
              height: auto;
              white-space: normal; // Permet les retours à la ligne
              margin: 1rem;
              overflow-wrap: break-word; // Permet de casser les mots trop longs pour s'adapter au conteneur
              word-wrap: break-word;
            }

            &.item-success mat-icon,
            &.item-success div {
              color: green;
            }

            &.item-fail mat-icon,
            &.item-fail div {
              color: red;
            }

            &.item-warning mat-icon,
            &.item-warning div {
              color: orange;
            }

            &.item-error mat-icon,
            &.item-error div {
              color: purple;
            }
          }
        }


        // Media Query pour les écrans plus petits
        @media (max-width: 768px) {
          min-width: 100%; // Prend toute la largeur sur les petits écrans
        }
      }


    }

  }
}


//scss import
.center-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50vh;
}

.label-file {
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; // Transition pour le changement de couleur d'arrière-plan
}

.input-file {
  display: none; // Masqué par défaut
}

.file-drop-area {
  width: 100%;
  height: 200px;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  position: relative;
  border-radius: 1rem;
  transition: background-color 0.3s; // Transition pour le changement de couleur d'arrière-plan

  &:hover { // Changement de couleur lors du survol
    background-color: #f0f0f0;
  }
}

.custom-spinner, .drag-text {
  font-size: 20px;
  color: #aaa;
  margin: 1rem;
}

.excel-icon {
  font-size: 35px;
  margin: auto;
}

.parent-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: 1px solid;
  }
}

.submit-button {
  width: 50%;
  margin: 2rem auto;
}

//Chargement
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;

  mat-spinner {
    width: 50px;
    height: 50px;
  }
}

//Traitement des données
.verification {
  width: 100%;
  border: 2px solid #d1490a;
  min-height: 50vh;
  margin: 1rem;
  padding: 1rem;
  // Styles de base pour la zone de vérification
  font-size: 20px;

  .file-info {
    margin: 10px auto;
    p{
      margin: 1rem auto;
    }
  }
  .fileValid {
    margin:1rem auto;
  }
  .traitement-btn{
    margin-top: 50px;
    height: auto;
    button{
      &.active {
        background-color: #d1490a;
        color: #ffff;
        &:hover {
          color: #ffff;
        }
      }
    }
  }
  .spinner-progress {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-spinner {
      width: 50px;
      height: 50px;
    }
  }

  i {
    margin-right: 8px;
  }

  // Style pour l'icône de succès
  .fa-check-circle {
    color: green;
  }

  // Style pour l'icône d'erreur
  .fa-exclamation-circle {
    color: red;
  }
}


//Resultat traitement
.resultats-traitement{
  width: 100%;
  height: 100%;

  // Classe pour le conteneur principal
  .type-select-Container {
    width: 100%; // Largeur du conteneur
    height: auto; // Hauteur ajustée automatiquement
    padding: 1rem; // Espacement intérieur du conteneur
    border: 2px solid #d1490a; // Bordure du conteneur
    border-radius: 10px; // Rayon des coins arrondis du conteneur
    display: flex; // Utilisation de Flexbox pour le layout
    flex-wrap: wrap; // Permet a

    //flex-direction: column;
    margin: 1.5rem auto;
    justify-content: space-between; // Espacement uniforme entre les éléments enfants

    // Media query pour les écrans de taille inférieure ou égale à 768px
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%; // Largeur du conteneur à 100% pour les petits écrans
    }

    // Classe pour chaque bouton dans le conteneur
    .type-button {
      min-width: calc(33.3333% - 1rem); // Largeur minimale pour afficher 2 boutons par ligne
      margin: 0.5rem;
      //white-space: nowrap; // Empêche le texte de passer à la ligne
      padding: 0.5rem 1rem; // Espacement intérieur de chaque bouton
      font-size: 1rem; // Taille de la police du bouton
      height: auto; // Hauteur ajustée automatiquement
      cursor: pointer; // Change le curseur en main quand survolé
      border: 1px solid #ccc; // Bordure du bouton
      background-color: #f1f1f1; // Couleur de fond du bouton
      transition: background-color, color 0.3s ease; // Transition pour la couleur de fond

      text-transform: none; // Pas de transformation du texte
      color: black; // Couleur du texte
      border-radius: 10px; // Rayon des coins arrondis du bouton

      &.single-line {
        margin: 1rem auto; // Centré horizontalement avec des marges verticales de 10px
      }
      span{
        color: #008300;
        font-weight: bold;
      }

      @media (max-width: 768px) {
        width: 100%; // Largeur du bouton à 100% pour les petits écrans
        min-width: 100%; // Largeur minimale à 100% pour les petits écrans
      }

      // État hover (survol) du bouton
      &:hover {
        background-color: #ddd; // Changement de la couleur de fond lors du survol
      }

      // Classe pour l'état actif du bouton
      &.active {
        background-color: #d1490a; // Couleur de fond lorsque le bouton est actif
        color: #ffff; // Couleur du texte lorsque le bouton est actif
        span{
         color: #e3c300;
        }

        // État hover (survol) du bouton actif
        &:hover {
          color: #ffff; // Couleur du texte lors du survol du bouton actif
        }
      }
    }
  }


  /// Table
  .mat-mdc-table {
    max-height: 700px;
    overflow: auto;
  }
  .mat-table{
    width: auto;
  }

  .mat-column-name {
    height: 100px;
  }
  .main-container {
    display: flex; // Utilisation de Flexbox pour le layout
    justify-content: space-between; // Espacement entre les deux divs
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .container-table {
      flex: 1 0 50%;
      width: 50%; // Largeur initiale
      height: auto;
      border-collapse: collapse;
      border: 1px solid #ccc;
      margin: 2rem;
      text-align: center;
      //flex: 1;
      @media (max-width: 768px) {
        flex: 1 0 auto; // Prend tout l'espace disponible en mode colonne
        width: auto; // Largeur du conteneur à 100% pour les petits écrans
      }
    }
    .titreResultats{
      font-size: 20px;
      font-weight: bold;
      color: #333;
      text-align: center;
      border-bottom: 4px solid #d1490a;
    }

    .exportation {
      flex: 0 1 auto;
      //border: 6px solid red;
      height: auto;
      margin: 2rem;
      //display: flex; // Utilise Flexbox pour le centrage
      //align-items: center; // Centre le contenu verticalement
      //justify-content: center; // Centre le contenu horizontalement
      @media (max-width: 768px) {
        flex: 1 0 auto; // Prend tout l'espace disponible en mode colonne
        width: auto; // Largeur du conteneur à 100% pour les petits écrans
      }
      .container {
        font-size: 16px;
        line-height: 1.5;
        color: #555;

        p {
          margin-bottom: 20px;
        }

        ul {
          margin-bottom: 20px;
          padding-left: 40px;

          li {
            margin-bottom: 10px;

            ul {
              padding-left: 20px;
            }
          }
        }
      }
      button {
        background-color: #d1490a;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d1490a;
        }
      }
    }
  }


  th {
    background-color: #f2f2f2;
  }
  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &:hover {
      background-color: #e0e0e0;
    }
  }

  td, th {
    width: 50%;
    height: auto;
    align-content: center;
    align-items: center;
  }
  th{
    font-size: 1rem;
  }

  .customer-total{
    margin: 1.5rem;
    display: inline-block;
    font-size: 1.5rem;
    color: #263238;
  }
  .h2{
    text-align: center;
    color: #263238;
  }
  .filter{
    width: 100%;
  }

  .anulbtn{
    width: 300px;
    margin: auto;
  }

  .mat-divider{
    border-bottom: 6px solid #d1490a;
    margin: 10px 0;
  }



}


//Erreur et chargement
.failureOrLading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Hauteur totale de la vue
}
.span-message {
  margin: 3rem;
  width: 100%;
  height: 100%;
  color: red;
  font-size: 24px;
  text-align: center;
  justify-content: center;
}
.Loading {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  mat-spinner {
    margin: auto;
    width: 50px;
    height: 50px;
  }
}








