:root {
  --dialog-title-border-radius: 60px; /* Définir le border-radius souhaité */
  --dialog-title-width: 10em; /* Définir la largeur souhaitée */
  //--dialog-title-width: 1000px; /* Définir la largeur souhaitée */
}
div[mat-dialog-title] {
  border-radius: var(--dialog-title-border-radius);
  width: var(--dialog-title-width);
  text-align: center;
}

.content {
  max-width: 100%;
  height: auto; // Vous pouvez aussi spécifier une hauteur maximale si nécessaire
  max-height: 80vh; // Exemple de hauteur maximale, à ajuster selon vos besoins
  overflow-y: auto;
}


//style formulaire:

form {
  padding: 20px;
  margin: auto;
}

// Espacement entre les champs de formulaire
mat-form-field {
  min-width: 300px;
  margin: 16px;

  // Personnalisation du label
  mat-label {
    color: #333;
    font-weight: 500;
  }
}

// Styles pour typeLigneSelected
.typeLigneSelected{
  width: auto;
  padding: 1rem;
  margin: 1rem auto;
  justify-content: space-around;
  span{
      font-size: 1.5rem;
  }
  strong{
    margin-left: 10px;
    color: #1b6ca8;
    font-weight: bold;
    font-size: 2rem;
  }
}

// Modifier le style du bouton lorsqu'il est désactivé
button[mat-raised-button][disabled] {
  background-color: #ccc;
  color: #666;
}

// Style pour les messages d'erreur
mat-error {
  color: red;
  font-size: 14px;
}

// Personnalisation des éléments select
mat-select {
  width: 100%;
}

// Si vous avez des sections dans votre formulaire, vous pouvez les séparer visuellement
.form-section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

// Ajoutez un peu de style aux labels des sections
.form-section-label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}
.attribut-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  mat-form-field {
    margin: 8px;
  }
}

.button-container{
  width: 400px;
  margin: 0.3rem auto;
  align-items: center;
  align-content: center;
}
.button-container button {
  width: 50%;
  margin-top: 14px;
}




//Erreur et chargement
.failureOrLading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Hauteur totale de la vue
}
.failure {
  color: red;
  font-size: 24px;
  text-align: center;
}
.Lading {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-spinner {
    width: 50px;
    height: 50px;
  }
}
