.mat-toolbar-containner{
  color: #ffffff;
  background-color: #d1490a;
  height: 47px;

  .logo{
    img{
      border-radius: 1rem;
    }
  }
  .logo-titre{
    width: 100%;
    text-align: center;
    //justify-content: center;
    //margin: 0 auto;
    //flex: 1 1 auto;
    //text-align: center;
  }
}
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {

  button.togglebtn {
    margin-right: 8px;
    mat-icon{
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  button.username{
    padding: 2px;
    font-size: 16px;
    mat-icon{
      margin-right:  10px;
    }
    sup.role-sup {
      vertical-align: super;
      font-size: 0.6em;
      margin-left: 5px;
    }
  }

  .vertical-divider {
    width: 4px;
    height: 100%;
    background-color: #d1490a;
    margin: 0 12px;
  }

  span {
    /* Styles pour les spans */
  }

  mat-icon {
    //margin: 0 5px;
    /* Styles pour les icônes */
  }
}


/**{
  box-shadow: 0 0 0 3px red inset;
}*/


.mat-drawer-container {
  mat-drawer {
    margin: 10px 0 15px 1px;
    height: auto !important;
    max-height: 90vh !important;
    border-width: 3px 1px 3px 3px;
    border-style: inset solid;
    border-color: #d1490a;
    border-radius: 0 10px 10px 0;



    .logo-menu-container{
      margin-top: auto;
      height: 200px;
      display: flex;
      flex-direction: column;
      padding-top: 2rem ;
      .logo-menu {
        //flex: auto 1 1;
        margin-top: auto;
      }
    }
    //background-color: cadetblue;
    //height: 80%;

    mat-nav-list {
      margin: 0;
      padding: 0;
      width: 100%;

      mat-list-item {
        margin: 4px 0;
        padding: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.5s, color 0.5s;
        border-radius: 10px;

        /*&:hover {
          //background-color: #0c3ca2;
          background-color: #4050b5;
          color: #ffff;
          button {
            background-color: #4050b5;
            color: #ffff;
          }
        }*/

        &:hover {
          button {
            color: #d1490a;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 100%;
          padding: 10px 20px;
          text-transform: none;
          font-size: 16px;
          color: black;
          border-radius: 10px;

          mat-icon {
            margin-right: 10px;
          }
        }
        .active {
          background-color: #d1490a;
          color: #ffff;
          &:hover {
            color: #ffff;
          }
        }

      }

      mat-divider {
        margin: 10px 0;
        border-bottom: 1px solid #d1490a;
      }
    }


  }

  mat-drawer-content {
    .body {
      text-align: center;
      min-height: 94vh;
      padding: 20px;
      overflow-x: auto;
    }
  }
}








