<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <!--  <span><img ngSrc="assets/logo3.webp" alt="logo" height="34" width="150"> </span>-->
  <span>Lignes-Téléphonique</span>
  <span class="example-spacer"></span>
  <button mat-button class="username" routerLink="profile">
    <mat-icon>account_circle</mat-icon>
    {{loginService.userData.username}}
    <sup  class="role-sup">{{ loginService.userData.role === 'ADMIN' ? 'ADMIN' : 'USER' }}</sup>
  </button>

  <div class="vertical-divider"></div>

  <mat-icon class="logout-icon" (click)="handleLogOut()" >exit_to_app</mat-icon>

</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="accueil" mat-button><mat-icon> settings_phone </mat-icon> Accueil</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="types" mat-button><mat-icon>folder</mat-icon> Type_Ligne</button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button routerLink="rapprochement" mat-button><mat-icon> insert_drive_file </mat-icon> Rapprochement </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="facturation" mat-button><mat-icon>event_note</mat-icon> Facturations </button>
      </mat-list-item>


      <mat-divider></mat-divider>
      <mat-list-item>
        <button routerLink="aide" mat-button><mat-icon>help</mat-icon> Aide</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="profile" mat-button><mat-icon>account_circle</mat-icon> Profile </button>
      </mat-list-item>


      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="handleLogOut()">
          <mat-icon>exit_to_app</mat-icon> Deconnexion </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="body">
      <router-outlet>


      </router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
