<div class="main-body">

  <div class="row"><h1 class="listUser">Utilisateurs</h1></div>

  <div class="container-fluid">
    <mat-form-field class="filter" appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nom" #input>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openAddEditLignForm()" matTooltip="Ajouter un utilisateur" [matTooltipShowDelay]="1000">
      AJOUTER
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
        <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Username -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom/Prenom</th>
        <td mat-cell *matCellDef="let row"> {{ row.username }} </td>
      </ng-container>

      <!-- email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail</th>
        <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
      </ng-container>

      <!-- createdDate -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date-Création</th>
        <td mat-cell *matCellDef="let row"> {{ row.createdDate | date }} </td>
      </ng-container>

      <!-- role -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
        <td mat-cell *matCellDef="let row"> {{ row.role }} </td>
      </ng-container>

      <!-- Actions-->
      <ng-container matColumnDef="ACTIONS">
        <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
        <td mat-cell *matCellDef="let row" class="action-container">
          <div style="display: flex;" *ngIf="loginService.userData.email != row.email">
            <button mat-icon-button (click)="openEditForm(row)" matTooltip="Modifier" [matTooltipShowDelay]="1000"> <mat-icon color="primary">edit</mat-icon> </button>
            <button mat-icon-button (click)="handleDeleteLigne(row.id)" class="ms-3" matTooltip="Supprimer" [matTooltipShowDelay]="1000"> <mat-icon color="warn">delete</mat-icon> </button>
          </div>
          <div style="display: flex;" *ngIf="loginService.userData.email == row.email">
            <button mat-icon-button (click)="handleDetailUser(row)" class="ms-4" routerLink="/admin/profile" matTooltip="Profil" [matTooltipShowDelay]="1000">
              <mat-icon color="accent">account_circle</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.blue-row]="loginService.userData.email == row.email"></tr>

      <!--    Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="17">Aucune donnée pour le filtre "{{ input.value }}"</td>
      </tr>

    </table>
    <div></div>

  </div>

  <div class="customer-container">
    <div class="customer-total" *ngIf="dataSource?.data">Total:   {{dataSource.data.length}}</div>
    <mat-paginator class="custom-paginator" [pageSizeOptions]="[10, 20, 30]" aria-label="Selectionner une page"></mat-paginator>
  </div>


</div>
