<div class="mat-elevation-z8 container-fluid">
  <h2 class="titre">Bienvenue</h2>

  <div class="container" *ngIf="dataHome">
    <div class="type-element" *ngFor="let type of dataHome.typeLigne">
      <mat-card class="type-card">
        <mat-card-content>
          <mat-icon>category</mat-icon>
          <span>{{type.nomLigne}} : {{ type.nombreLigne }}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="stat-container">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef> Reference </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="valeur">
          <th mat-header-cell *matHeaderCellDef> Nombre de ligne </th>
          <td mat-cell *matCellDef="let element"> {{element.valeur}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="pourcentage">
          <th mat-header-cell *matHeaderCellDef> Pourcentage </th>
          <td mat-cell *matCellDef="let element"> {{element.pourcentage? element.pourcentage : 0}} % </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="cicle-container">
      <h2>État des lignes</h2>
      <div class="item-container" *ngFor="let data of dataSource2">
        <!-- Nom à gauche du cercle -->
        <div class="name-container">
          {{ data.nom }}
        </div>
        <!-- Cercle de progression -->
        <div class="circle-container">
          <svg viewBox="0 0 36 36" class="circular-chart">
            <!-- Cercle de fond -->
            <path class="circle-bg"
                  d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
            ></path>
            <!-- Cercle de progression -->
            <path class="circle"
                  [attr.stroke-dasharray]="data.pourcentage + ', 100'"
                  d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
            ></path>
            <!-- Texte du pourcentage -->
            <text x="18" y="20.35" class="percentage">{{ data.pourcentage ? data.pourcentage : 0 }}%</text>
          </svg>
        </div>
      </div>
    </div>
  </div>



</div>
