.content-body {
  min-height: 100%;
  padding: 60px 1rem;
  background-image: url("../../../assets/backgroundlogin.jpg"),
                    url("https://www.companeo.com/ibb/fr_FR/guide/2015/02/standard_tel/ouverture_ligne_telephonique.jpg");
  background-color: gray;
  background-size: cover;
  background-position: center;
  display: block;

  /* Appliquer l'effet de flou */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.header{
  h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 12px;
    padding: 12px;
    color: #1b6ca8;
    border-bottom: 1px solid #1b6ca8;
  }
}
.full-width {
  width: 80%;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.emailInput{
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background :#1b6ca8;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}


.custom-card {
  max-width: 600px;
  margin: 4em auto;
  text-align: center;
  max-height: 600px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 20px rgba(0, 47, 255, 0.22);
}

.custom-card-content {
  padding: 1.5em;
}

//Erreur et chargement
.failureOrLading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; // Hauteur totale de la vue
}
.failure {
  color: red;
  font-size: 24px;
  text-align: center;
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-spinner {
    width: 50px;
    height: 50px;
  }
}
