<div class="content-body">
  <div class="custom-card" *ngIf="!connecter; else loadingOrFailure">
    <div class="header">
      <h1>Authentification</h1>
    </div>
    <div class="custom-card-content">
      <form (ngSubmit)="handleLogin()" name="loginForm" [formGroup]="formLogin">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nom ou E-mail</mat-label>
            <input
              formControlName="username"
              matInput
              placeholder="Entrer le nom ou l'e-mail" required
            />
            <mat-error *ngIf="!formLogin.controls['username'].valid">
              Nom ou E-mail requis
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mot de Passe</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required/>

            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>

            <mat-error *ngIf="!formLogin.controls['password'].valid">
              Mot de Passe requis
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit" [disabled]="formLogin.invalid">Connexion</button>
      </form>
    </div>
  </div>


  <ng-template #loadingOrFailure>
    <div class="failureOrLading-container">
      <ng-container *ngIf="errorMessage; else loading">
        <div class="failure">
          {{errorMessage}}
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="Loading">
          <mat-spinner>Chargement...</mat-spinner>
        </div>
      </ng-template>
    </div>
  </ng-template>

</div>
