<div class="container-fluid">
  <div class="button-group">
    <button mat-raised-button (click)="selectTab(0)" [ngClass]="{'active': selectedTabIndex === 0}">
      <mat-icon class="example-tab-icon">local_phone</mat-icon>
      <span class="button-text">Types de Ligne</span>
    </button>
    <button mat-raised-button (click)="selectTab(1)" [ngClass]="{'active': selectedTabIndex === 1}">
      <mat-icon class="example-tab-icon">star</mat-icon>
      <span class="button-text">Attributs</span>
    </button>
  </div>

    <mat-divider></mat-divider>

  <div class="container-fluid">
    <ng-container *ngIf="selectedTabIndex==0">

      <app-gestion-type></app-gestion-type>

    </ng-container>
    <ng-container *ngIf="selectedTabIndex==1">

      <app-gestion-attribut></app-gestion-attribut>

    </ng-container>
  </div>
</div>





