.button-group {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    width: 30%;
    min-width: auto;
    height: 100%;
    color: black;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

    mat-icon {
      margin-right: 15px;
    }

    .button-text {
      font-size: 15px;
    }

    &.active {
      background-color: #4050b5;
      color: #fff;
      &:hover {
        color: #fff;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #4050b5; /* Couleur de l'ombre rgba(64, 80, 181, 0.2) */
      }
    }

  }

}

mat-divider {
  margin: 20px auto;
  width: 70%;
  border-bottom: 1px solid #4050b5;
}
